<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ The contents of this file are subject to the Mozilla Public License
  ~ Version 1.1 (the "License"); you may not use this file except in compliance
  ~ with the License. You may obtain a copy of the License at
  ~
  ~ http://www.mozilla.org/MPL/
  ~
  ~ Software distributed under the License is distributed on an "AS IS"
  ~ basis, WITHOUT WARRANTY OF
  ~
  ~ ANY KIND, either express or implied. See the License for the specific language governing rights and
  ~
  ~ limitations under the License.
  ~
  ~ The Original Code is the IZAYOI web framework.
  ~
  ~ The Initial Developer of the Original Code is
  ~
  ~   Mo Chen <withinsea@gmail.com>
  ~
  ~ Portions created by the Initial Developer are Copyright (C) 2009-2010
  ~ the Initial Developer. All Rights Reserved.
  -->

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>izayoi-demo-samples</display-name>

    <filter>
        <filter-name>spring</filter-name>
        <filter-class>org.withinsea.izayoi.adapter.springmvc.SpringIzayoiDispatcherFilter</filter-class>
    </filter>

    <filter>
        <filter-name>izayoi</filter-name>
        <filter-class>org.withinsea.izayoi.Izayoi</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>spring</filter-name>
        <url-pattern>/intergration/springmvc/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>izayoi</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
